<!--button click for my account page-->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="public/images/getaride.png" alt="car">
      <h2>Get a Ride</h2>

    </div>
    <div class="col-sm-6">
      <img src="public/images/myschedulerides.png" alt="calender">
      <h2>My Scheduled Rides</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="public/images/myprofileicon.png" alt="profile">
      <h2>My Profile</h2>
    </div>
    <div class="col-sm-6">
      <img src="public/images/infoicon.png" alt="info">
      <h2>About</h2>
    </div>
  </div>
</div>
