<!-- My Schedule Page -->

<!-- Columns are always 50% wide, on mobile and desktop -->

<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
      <h1>Upcoming Scheduled Rides</h1>
  </div>
</div>

<div class="container voodoo">
  <div class="row">
    <div class="col-xs-6">
        <p> Monday Apr 17th : Pick-Up Time 4:15pm </p>
        <p> Tuesday Apr 18th: Pick-Up Time 2:00pm </p>
        <p> Wednesday Apr 19th : Pick-Up Time 9:00am </p>
        <p> Thursday Apr 20th : NA </p>
        <p> Friday Apr 21st : NA </p>
        <p> Saturday Apr 22nd: Pick-Up Time 6:00pm </p>
        <p> Sunday Apr 23rd: NA </p>
    </div>
  </div>
</div>
