<!-- My Schedule Page -->

<!-- Columns are always 50% wide, on mobile and desktop -->


<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
      <h1>Upcoming Scheduled Rides</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="p">
      <!-- I had to write these out in p's vs li's or ol because it caused CSS conflicts and extremely large font -->
        <p> Monday Apr 17th : Pick-Up Time 4:15pm<br>Driver: Mike</br></p>
        <p> Tuesday Apr 18th: Pick-Up Time 2:00pm<br>Driver: Joseph M.</br> </p>
        <p> Wednesday Apr 19th : Pick-Up Time 9:00am <br>Driver: Jonas</br></p>
        <p> Thursday Apr 20th : NA </p>
        <p> Friday Apr 21st : NA </p>
        <p> Saturday Apr 22nd: Pick-Up Time 6:00pm<br>Driver: Susanne</br> </p>
        <p> Sunday Apr 23rd: NA </p>
      </div>
    </div>
  </div>
</div>
