<div class="basic-info">
  <h1>Basic Info</h1>
<form> First Name:
    <input type="text" name="firstname">
    Last Name: <input type="text" name="lastname">
    Email: <input type="text" name="email">
    Phone: <input type="number" name="phone">
    Password: <input type="text" name="password">
</form>
</div>
<div class="container-fluid">
  <div class="pref">
    <div class="col-md-4">
        <p>Door to Door</p>
        <img src="../public/images/door to door.png" alt="Easyride" height="40px" width="40px">
        <label class="switch">
        <input type="checkbox">
        <div class="slider round"></div>
        </label>
      </div>
    <div class="col-md-4">
      <p>Wheelchair Accessible</p>
      <img src="../public/images/wheelchair_pref.png" alt="Easyride" height="50px" width="50px">
      <label class="switch">
      <input type="checkbox">
      <div class="slider round"></div>
      </label>
    </div>
    <div class="col-md-4">
      <p>Help with Bags</p>
        <img src="../public/images/bags.png" alt="Easyride" height="40px" width="40px">
      <label class="switch">
      <input type="checkbox">
      <div class="slider round"></div>
      </label>
    </div>
    <div class="col-md-4">
      <p>Round Trip</p>
        <img src="../public/images/round trip.png" alt="Easyride" height="40px" width="40px">
      <label class="switch">
      <input type="checkbox">
      <div class="slider round"></div>
    </label>
  </div>
  <div class="col-md-4">
    <p>One Way Trip</p>
    <img src="../public/images/one way.png" alt="Easyride" height="40px" width="40px">
    <label class="switch">
    <input type="checkbox">
    <div class="slider round"></div><br>
    </label>
  </div>
</div>
<div class="container-fluid">
<div class="billing">
  <form>
      Credit Card #: <input type="number" name="creditcard">
      Email: <input type="text" name="email">
      CVV: <input type="number" name="cvv">
      Zip Code: <input type="number" name="zipcode">
  </form>
</div>
</div>
<a id="profilesaved" href="#">FINISH</a>
