              /* google drive folder for assets
https://drive.google.com/drive/folders/0B2mjfRTiYPWIM3NmMldHYTg4X2c
*/

              body {
                margin: 0;
                background-color: #D8D8D8;
              }

              nav {
                width: 100%;
              }

              .logo img {
                height: 200px;
                width: auto;
                max-width: 300px;
                max-height: 300px;
                padding-left: 45px;
                border: 5px solid black;
                border-radius: 99px 45px 45px 99px;

              }

              nav h2 {
                font-size: 45px;
                float: right;
                padding-right: 30px;
              }

              h1 {
                font-size: 50px;
                text-align: center;
              }

              li {
                list-style: none;
                text-align: center;
                font-size: 40px;

              }

              

              .relative {
                position: relative;
              }

              .relative img {
                border-radius: 0px;
                margin-bottom: 30px;
                padding-top: 30px;
                padding-bottom: 30px;
                width: 82%;
                margin-left: 90px;
                border:
              }

              .inside-text {
                position: absolute;
                bottom: 65px;
                font-size: 24px;
                font-family: "vedana";
                background: rgba(251, 251, 251, 0.5);
                padding: 10px 20px;
                width: 100%;
                text-align: center;
              }
              /* Full-width input fields */

              input[type=text], input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
              }
              /* Set a style for all buttons */

              button {
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
              }
              /* Extra styles for the cancel button */

              .cancelbtn {
                padding: 14px 20px;
                background-color: #f44336;
              }
              /* Float cancel and signup buttons and add an equal width */

              .cancelbtn, .signupbtn {
                float: left;
                width: 50%;
              }
              /* Add padding to container elements */

              .container {
                padding: 16px;
              }
              /* Clear floats */

              .clearfix::after {
                content: "";
                clear: both;
                display: table;
              }
              /* Change styles for cancel button and signup button on extra small screens */

              @media screen and (max-width: 300px) {
                .cancelbtn, .signupbtn {
                  width: 100%;
                }
              }
