/* google drive folder for assets
https://drive.google.com/drive/folders/0B2mjfRTiYPWIM3NmMldHYTg4X2c
*/

html, body {
  background-color: white;
}

@@font-face {
  font-family: 'DINPro-Medium'sans-serif;
  src: url('DINPro-Medium_13936.ttf');
  font-weight: normal;
  font-style: normal;
}

.container .jumbotron {
background-size: cover;
background-repeat: no-repeat;
border-radius: 0px;

}

.navbar, .container {
  background-color: white;
}
